
.first {
    display: flex;
    background-image: url(https://chen6wx.github.io/cs343-f22-p1/images/picOctober1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 36px;
    text-decoration: none;
    height: 100vh;
  }
  
  .first:hover {
    filter: grayscale(100);
    background-color: white;
    color: black;
  }